body {
  background-color: #dee1e6;
}
footer {
  width: 1200px;
  height: 700px;
  background-color: #4a8f7d;
  margin: 50px auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.subscribe {
  height: 200px;
  background-color: #c0eade;
}
.f-1 {
  padding: 20px;
  border-radius: 30px;
}
.btn-outline-secondary {
  width: 200px;
  border-radius: 30px;
  background-color: #f45233;
  color: white;
  font-size: 1.3em;
}
.navigation {
  height: 400px;
}
.lower {
  height: 50px;
}
.p--1 {
  line-height: 100px;
}
